.logsContainer {
    min-width: 500px;
    margin: 30px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logsSection {
    height: 650px;
    min-height: 650px;
    border: 2px solid;
    padding: 20px;
    overflow: auto;
}